<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>this is home page</title>
</head>
<body>
<h1> welcome text analayzer website</h1>
<h1>enter the text here</h1>
<form action='/anaylayze' method='get'>
    <textarea name='text' style="margin: 0px; width: 1344px; height: 249px;"></textarea>
    <input type="checkbox" name="anaylayze">REMOVE PUNCTION<br>
    <button type='submit'><h1> Analayze text</h1></button>

</form>

<a href="https://www.youtube.com/watch?v=0cRdxo-zMNA">code with naved</a>
</body>
</html>
