<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>this is home page</title>
</head>
<body>
<h1> welcome text analayzer website</h1>
<h1>enter text here</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style="margin: 0px; width: 1344px; height: 249px;"></textarea>
    <input type="checkbox" name="removepunc">REMOVE PUNCTION<br>
    <input type="checkbox" name="fullcaps">UPPER CASE<br>
    <input type="checkbox" name="newlineremover">NEW LINE REMOVER<br>
    <input type="checkbox" name="extraspaceremover">EXTRA SPACE REMOVER<br>
    <input type="checkbox" name="wordscounter">WORDS COUNTER<br>
    <button type='submit'> Analayze text</button>

</form>
</body>
</html>
